---
const {imgsrc, mix, farve, kunstnerliste} = Astro.props
---

<article style=`background-color:${farve}`>
    <figure>
        <img src={imgsrc} alt="img">
<figcaption>{mix}</figcaption>
</figure>
<p>{kunstnerliste}</p>
</article>

<style>
    img { width: 100%;}
</style>